.root {
  position: relative;
  display: inline-block;
  margin: 0 10px;
  &:hover {
    cursor: pointer;
  }
}

.dropDown_content {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #fff;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
}

.root:hover .dropDown_content {
  display: block;
}

.dropDown_label {
  width: 180px;
  border: 1px solid #88fce5;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.type {
  border-bottom: 1px solid #88fce5;
  padding: 5px;
  text-align: center;
  font-size: 12px;

  &:hover {
    cursor: pointer;
    background-color: #f2f2f2;
  }
}
