.startTest {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid lightgray;
  // border-radius: 3px;
  &:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px gray;
    border-color: #630caf;
  }
}

.nameTest {
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(10, 80, 107);
  font-size: 18px;
  font-weight: 600;
}

.btnEdit {
  width: 20%;
  background-repeat: no-repeat;
  background-size: contain;
  // height: 100px;
}

.btn {
  // border: 1px solid black;
  // border-radius: 2px;
  margin: 0 10px;
  padding: 10px;
  &:hover {
    cursor: pointer;
    background-color: green;
  }
}

.listItem {
  display: flex;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
}

.itemTest {
  width: 70%;
  margin-right: 5px;
}

.itemDateCreate {
  width: 30%;
  border-bottom: 1px solid lightgray;
  padding: 5px;
}
