.textQuestion {
  color: #444444;
  margin: 10px;
}

.answerList {
  display: flex;
  flex-direction: column;
}

.question {
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #59a797;
}

.answerItem {
  margin: 5px 0;
}