.textQuestion {
  color: #444444;
  margin: 10px;
}

.answerList {
  display: flex;
  flex-direction: column;
}

.listItem {
  margin: 10px;
}

.question {
  box-shadow: 1px 1px 2px 1px lightgray;
  padding: 10px;
  margin-bottom: 20px;
}

.answerItem {
  margin: 5px 0;
}