* {
  padding: 0;
  margin: 0;
}

.page {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.page::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #005bea, #00c6fb);
  opacity: 0.9;
  position: absolute;
  z-index: -1;
}

.loginImg {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.input {
  display: block;
  width: 250px;
  padding: 10px 15px;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 20px;
  color: gray;
  font-weight: 600;
  font-family: Arial;
  box-sizing: border-box;
  transition: border-radius 0.5s ease;
}

.input::placeholder {
  color: lightgray;
}

.input:focus {
  border-radius: 5px;;
  outline: none;
}

.btnAuthorization {
  display: block;
  width: 250px;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 20px;
  background-color: #333333;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-family: Arial;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
  border: none;
  &:hover {
    cursor: pointer;
    background: linear-gradient(to top, #005bea, #00c6fb);
  }
}