.page {
  padding-top: 1px;
}

.mainContent {
  width: 70%;
  margin: 0 auto;
}

.testList {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
}

.listItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.btnCreateTest {
  display: inline-block;
  padding: 10px;
  border: 1px solid #88fce5;
  text-decoration: none;
  margin: 10px 0;
  border-radius: 5px;
  color: #444;
  background: linear-gradient(to top, #88fce5, #eafcf8);
  transition: border 0.3s ease;
  &:hover {
    cursor: pointer;
    border-color: #444;
  }
}

.startTest {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 0 10px;
  box-sizing: border-box;
  color: #444;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 3px;
}

.btn {
  border: 1px solid black;
  border-radius: 2px;
  margin: 0 10px;
  padding: 10px;
}