.header {
  height: 80px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #444;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.logoTextTop {
  display: block;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-family: Arial;
  font-size: 30px;
}

.logoTextBottom {
  display: block;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-family: Arial;
  font-size: 20px;
}

.userData {
  display: flex;
  align-items: center;
}

.userGreeting {
  display: inline-block;
  margin: 0 20px;
  color: #fff;
}

.greetingText {
  vertical-align: middle;
}

.exitAccount {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.exitAccount:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.userName {
  margin: 5px;
}

.mainName {
  &:hover {
    cursor: pointer;
  }
}